#seul{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #titre{
        text-align: center;
        padding: 1%;
        border-radius: 0.75em;
        background-color: $quad;
        @include font700;
        font-size: 2em;
        color: white;
    }
    #contenu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1em;
        p{
            @include font700;
            color: white;
        }
    }
    img{
        max-width:100%;
        height:auto;
    }
    span{
        @include font300;
        color: white;
    }
}